* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 187);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


section {
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.859);
    border-radius: 15px;
    border: 2px solid rgb(20, 68, 200);
    
    padding: 10px;
    width: 500px;
    min-height: 435px; /* Altura mínima em vez de fixa */
    height: auto;      /* Deixa o conteúdo ajustar a altura */
    margin: auto;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nasci,.seixo,.btn {
    padding: 10px;
}

input#iano {
    background: rgba(255, 255, 255, 0.009);
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 100px;
    text-align: center;
    font-size: 1.1em;
}

input#iano::-webkit-outer-spin-button,
input#iano::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    width: 100px;
    margin: 10px auto;
    padding: 5px;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);

    background: blue;
    color: white;

    text-align: center;
    font-family: cursive;
    transition-duration: .5s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: grey;
    transition-duration: .5s;
}

img#foto {
display: block;        /* Faz a imagem se comportar como um bloco */
    margin: 10px auto;     /* Centraliza e dá espaço em cima/baixo */
    width: 250px;          /* Largura fixa */
    height: 250px;         /* Altura fixa (igual à largura para ser um círculo) */
    object-fit: cover;     /* NÃO deixa a imagem esticar ou amassar */
    border-radius: 50%;    /* Deixa a foto redondinha */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5)
}



footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}